@define-color fg #ebdbb2;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color green-dark #98971a;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color gray #a89984;
@define-color background #282828;
* {
    font-size:14px;
    font-family: "JetBrainsMono Nerd Font";
}
window#waybar{
    color: @fg;
    all:unset;
    margin: 30px;

}
.modules-left {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
  background: alpha(@background,.8);
  border-radius: 150px; 
}
.modules-center {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  background: alpha(@background,.8);
  border-radius: 150px; 
}
.modules-right {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  background: alpha(@background,.8);
  border-radius: 150px; 
}
tooltip {
    background:@background;
    color: @color7;
}
#wifi,
#battery,
#network,
#clock,
#custom-pacman,
#cpu,
#memory,
#temperature,
#tray,
#pulseaudio,
#backlight,
#idle_inhibitor {
	padding: 0px 5px 0px 5px;
}
/*
---------------------------------------------------------------------
                    Workspaces Module 
---------------------------------------------------------------------
*/
#workspaces {
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@purple,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @purple;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @purple;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}


/*
---------------------------------------------------------------------
                    Battery Module 
---------------------------------------------------------------------
*/

#battery {
    color: @green-dark;
}
#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
  color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*
---------------------------------------------------------------------
                    Network Module 
---------------------------------------------------------------------
*/
#network{
    transition: all .3s ease;
    color:@yellow;
}
/*
---------------------------------------------------------------------
                    Network Module 
---------------------------------------------------------------------
*/
#clock{
    color:@fg;
    transition: all .3s ease;
}
#custom-pacman{
    transition: all .3s ease;
    color:@red;

}
/*
---------------------------------------------------------------------
                    Audio 
---------------------------------------------------------------------
*/
#pulseaudio {
    color: @blue;
}
/*
---------------------------------------------------------------------
                   Idle Inhibitor 
---------------------------------------------------------------------
*/
#idle_inhibitor {
  color: @aqua;
}


#backlight {
    color: @purple;
}


#cpu,#memory,#temperature{
    transition: all .3s ease; 
    color:@color7;

}


#tray{
    transition: all .3s ease; 

}
#tray menu * {
    transition: all .3s ease; 
}

#tray menu separator {
    transition: all .3s ease; 
}

