
@define-color fg #ebdbb2;
@define-color fg0 #fbf1c7;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color green-dark #98971a;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color gray #a89984;
@define-color background #282828;

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 20px;
    background-color: alpha(@background,.5);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @fg;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,.2);
}
#input image {
    border: none;
    color: @red;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#fg {
    margin: 5px;
    border: none;
    color: @fg;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @fg;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @purple;

}
#entry:selected {
    box-shadow: 1px 1px 5px alpha(@fg0,0.7);
    border: none;
    border-radius: 20px;
    background-color:transparent;
}
#entry:selected #text {
    color: @fg0;
}
#entry:drop(active) {
    background-color: @purple !important;
}
